.elementor-10368 .elementor-element.elementor-element-4511bca{padding:30px 0px 30px 0px;}.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-accordion-icon, .elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-accordion-title{color:var( --e-global-color-text );}.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-accordion-icon svg{fill:var( --e-global-color-text );}.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-active .elementor-accordion-icon, .elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-active .elementor-accordion-title{color:var( --e-global-color-primary );}.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-active .elementor-accordion-icon svg{fill:var( --e-global-color-primary );}.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-accordion-title{font-family:"Agrandir", Sans-serif;font-size:25px;font-weight:bold;line-height:1em;}.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-tab-title .elementor-accordion-icon i:before{color:var( --e-global-color-primary );}.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-tab-title .elementor-accordion-icon svg{fill:var( --e-global-color-primary );}.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-accordion-icon.elementor-accordion-icon-left{margin-right:17px;}.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-accordion-icon.elementor-accordion-icon-right{margin-left:17px;}@media(max-width:767px){.elementor-10368 .elementor-element.elementor-element-b7314c9 .elementor-accordion-title{font-size:15px;}}@media(min-width:768px){.elementor-10368 .elementor-element.elementor-element-345d6c7{width:100%;}}/* Start Custom Fonts CSS */@font-face {
	font-family: 'Agrandir';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../polices/Agrandir-Regular.eot');
	src: url('../../polices/Agrandir-Regulard41d.eot?#iefix') format('embedded-opentype'),
		url('../../polices/Agrandir-Regular.woff2') format('woff2'),
		url('../../polices/Agrandir-Regular.woff') format('woff'),
		url('../../polices/Agrandir-Regular.ttf') format('truetype'),
		url('../../polices/Agrandir-Regular.svg#Agrandir') format('svg');
}
@font-face {
	font-family: 'Agrandir';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('../../polices/Agrandir-TextBold.eot');
	src: url('../../polices/Agrandir-TextBoldd41d.eot?#iefix') format('embedded-opentype'),
		url('../../polices/Agrandir-TextBold.woff2') format('woff2'),
		url('../../2021/04/Agrandir-Regular.woff') format('woff'),
		url('../../polices/Agrandir-TextBold.ttf') format('truetype'),
		url('../../polices/Agrandir-TextBold.svg#Agrandir') format('svg');
}
@font-face {
	font-family: 'Agrandir';
	font-style: normal;
	font-weight: 100;
	font-display: auto;
	src: url('../../polices/Agrandir-Narrow.eot');
	src: url('../../polices/Agrandir-Narrowd41d.eot?#iefix') format('embedded-opentype'),
		url('../../polices/Agrandir-Narrow.woff2') format('woff2'),
		url('../../polices/Agrandir-Narrow.woff') format('woff'),
		url('../../polices/Agrandir-Narrow.ttf') format('truetype'),
		url('../../polices/Agrandir-Narrow.svg#Agrandir') format('svg');
}
/* End Custom Fonts CSS */